<footer>
  
    <mat-toolbar color="primary" class="footer">
      <div class="footer-content" style="padding-bottom: 20px;">
        <div class="footer-column">
            <h3>Goriva:</h3>
            <ul>
              <nav>
                <li><a href="https://sr.wikipedia.org/wiki/Motorni_benzin" target="_blank">Benzin 95</a></li>
                <li><a href="https://sr.wikipedia.org/wiki/Motorni_benzin" target="_blank">Benzin 98</a></li>
                <li><a href="https://sr.wikipedia.org/wiki/%D0%94%D0%B8%D0%B7%D0%B5%D0%BB-%D0%B3%D0%BE%D1%80%D0%B8%D0%B2%D0%BE" target="_blank">Evro dizel</a></li>
                <li><a href="https://sr.wikipedia.org/wiki/Te%C4%8Dni_naftni_gas" target="_blank">Autogas (TNG)</a></li>
              </nav>
            </ul>
          </div>
          <div class="footer-column" style="margin-bottom: 114px;">
            <h3>Kontakt:</h3>
            <!-- mailto:dejan933.culic@gmail.com?subject=Hello&body=I want to contact you -->
            <!-- https://mail.google.com/mail/?view=cm&fs=1&to=your-email@example.com&su=Hello%20There&body=I%20would%20like%20to%20discuss%20something%20important. -->
            <a mat-icon-button href="mailto:?subject=Info&body=Zdravo" aria-label="Email">
              <!-- dejan933.culic@gmail.com -->
              <mat-icon>email</mat-icon><span class="footer-email"></span>
            </a>
          </div>
         
         
      </div>
      <div class="copyright">
        <span> Copyright &copy; 2024 Visi osnovac.</span>
      </div>
    </mat-toolbar>
   
  </footer>