<main>
  <header>
    <mat-toolbar>
   
      <h1>Cijene goriva</h1>
      <span class="example-spacer"></span>
  
      <div *ngIf="!loading">
        <mat-radio-group [(ngModel)]="activeCurrency2" (change)="onCurrencyChange()" class="radio-currencies">
          <mat-radio-button *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-radio-button>
        </mat-radio-group>
      </div>
    
    
    
    </mat-toolbar>
  </header>
  <section>
    <h1 style="margin-left: 20px;font-weight: 300;font-size: 2.3rem;">Najpristupačnije cijene goriva u regionu</h1>
    <div class="filter-container" *ngIf="!loading">
      <mat-checkbox [(ngModel)]="selectAll" (change)="toggleAll($event.checked)">
        Selektuj sve
      </mat-checkbox>
    
      <div class="checkboxes">
        <mat-checkbox [(ngModel)]="showBih" (change)="updateSelectAll()">Bih</mat-checkbox>
        <mat-checkbox [(ngModel)]="showCro" (change)="updateSelectAll()">Hrvatska</mat-checkbox>
        <mat-checkbox [(ngModel)]="showSer" (change)="updateSelectAll()">Srbija</mat-checkbox>
        <mat-checkbox [(ngModel)]="showSlo" (change)="updateSelectAll()">Slovenija</mat-checkbox>
        <mat-checkbox [(ngModel)]="showMont" (change)="updateSelectAll()">Crna Gora</mat-checkbox>
        <mat-checkbox [(ngModel)]="showMace" (change)="updateSelectAll()">Severna Makedonija</mat-checkbox>
        <mat-checkbox [(ngModel)]="showGreece" (change)="updateSelectAll()">Grčka</mat-checkbox>
        <mat-checkbox [(ngModel)]="showBulgaria" (change)="updateSelectAll()">Bugarska</mat-checkbox>
        <mat-checkbox [(ngModel)]="showAlba" (change)="updateSelectAll()">Albanija</mat-checkbox>
      </div>
    </div>
  </section>
  
  <section>
    <div class="legend-wrapper">
      <div *ngFor="let legend of legends" style="margin: 20px 15px 0px 15px;">
        <div class="legend-container">
          <div class="legend-color" [ngStyle]="{ 'background-color': legend.color }"> </div>
          <div class="legend-text">{{legend.name}}</div>
        </div>
      </div>
    
    </div>
  </section>
 <section>
  <div class="info-wrapper">
    <i>Cijene zadnji put ažurirane <time [attr.datetime]="updated | date: 'dd.MM.yyyy'">{{ updated | date: 'dd.MM.yyyy' }}</time></i>
  </div>
 </section>
  
  <section>
    <div class="flag-cards">
      <div class="row">
        <mat-card class="flag-card flag bosnia" *ngIf="showBih">
          <div class="bosnia__triangle"></div>
          <div class="bosnia__star__wrapper">
            <div class="star"></div>
          </div>
          <mat-card-title style="z-index: 1; margin-right: 15px;">{{countries2[0].name}}</mat-card-title>
        
          <mat-card-content class="each-card" style="margin-left: 35px;">
          
          <div class="fuel-row">
            <label>BMB 95:</label>
            <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Bosnia.bmb95)
            }">{{ convertedAmount[0] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
      
          </div>
         
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Bosnia.diesel)
            }">{{ convertedAmount[1] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
            
            </div>
             
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Bosnia.gas)
            }">{{ convertedAmount[2] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="flag-card flag croatia" *ngIf="showCro" >
          <div class="croatia__logo">
            <img src="https://imgur.com/QnZcQaW.png" alt="" width="75" height="115" />
          </div>
          <mat-card-title>{{countries2[1].name}}</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 69px;">
            <div class="fuel-row">
              <label>BMB 95: </label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Croatia.bmb95)
            }">{{ convertedAmount[3] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
             
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Croatia.diesel)
            }">{{ convertedAmount[4] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Croatia.gas)
            }">{{ convertedAmount[5] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="flag-card flag serbia" *ngIf="showSer">
          <div class="img-serbia">
            <img src="https://imgur.com/7PtlQSE.png" width="75" alt="" />
          </div>
          <mat-card-title>{{countries2[2].name}}</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 71px;">
            <div class="fuel-row">
              <label>BMB 95:</label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Serbia.bmb95)
            }">{{ convertedAmount[6] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Serbia.diesel)
            }">{{ convertedAmount[7] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Serbia.gas)
            }">{{ convertedAmount[8] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      </div>
     
      <div class="row">
        <mat-card class="flag-card flag slovenia" *ngIf="showSlo">
          <div class="img-slovenia">
            <img src="https://imgur.com/ZDBGTBj.png" width="75" alt="" />
          </div>
          <mat-card-title style="color: red;">{{countries2[3].name}}</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 70px;">
            <div class="fuel-row">
              <label>BMB 95:</label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Slovenia.bmb95)
            }">{{ convertedAmount[9] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Slovenia.diesel)
            }">{{ convertedAmount[10] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Slovenia.gas)
            }">{{ convertedAmount[11] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="flag-card flag montenegro" *ngIf="showMont">
          <div class="img-montenegro">
            <img src="https://imgur.com/ioH7KHX.png" height="115" width="75" alt="" />
          </div>
          <mat-card-title>{{countries2[4].name}}</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 54px;">
            <div class="fuel-row">
              <label>BMB 95:</label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Montenegro.bmb95)
            }">{{ convertedAmount[12] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Montenegro.diesel)
            }">{{ convertedAmount[13] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Montenegro.gas)
            }">{{ convertedAmount[14] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="flag-card flag north_macedonia" style="padding: 0;" *ngIf="showMace">
          <div class="left_shapes">
            <div class="shape"></div>
            <div class="shape"></div>
            <div class="shape"></div>
          </div>
        
          <div class="top__shape"></div>
          <div class="bottom__shape"></div>
          <div class="container-north-macedonia">
            <mat-card-title style="margin-left: 48px;">Severna Makedonija</mat-card-title>
            <mat-card-content class="each-card" style="margin-left: 46px;">
              <div class="fuel-row">
                <label>BMB 95:</label>
                  <span  [ngStyle]="{
                color: getColor('bmb95', fuelPrices.North_Macedonia.bmb95)
              }">{{ convertedAmount[15] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
                
              </div>
              <div class="fuel-row">
                <label>Diesel:</label>
                  <span  [ngStyle]="{
                color: getColor('diesel', fuelPrices.North_Macedonia.diesel)
              }">{{ convertedAmount[16] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
                
              </div>
              <div class="fuel-row">
                <label>Gas:</label>
                  <span  [ngStyle]="{
                color: getColor('gas', fuelPrices.North_Macedonia.gas)
              }">{{ convertedAmount[17] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
                
              </div>
            </mat-card-content>
          </div>
        
        </mat-card>
      </div>
      <div class="row">
        <mat-card class="flag-card flag greece" style="padding: 0;" *ngIf="showGreece">
          <div class="greece__top_left">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        <div class="container-north-macedonia">
          <mat-card-title style="z-index: 1; color: red; margin-left: 92px;position: relative; top: 4px;">Grčka</mat-card-title>
        
          <mat-card-content class="each-card" style="margin-left: 48px;">
          
          <div class="fuel-row">
            <label>BMB 95:</label>
            <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Greece.bmb95)
            }">{{ convertedAmount[18] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
      
          </div>
         
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Greece.diesel)
            }">{{ convertedAmount[19] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
            
            </div>
             
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Greece.gas)
            }">{{ convertedAmount[20] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </div>
        </mat-card>
      
        <mat-card class="flag-card flag bulgaria" *ngIf="showBulgaria">
          <mat-card-title style="color: red;margin-right: 10px;">Bugarska</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 31px;">
            <div class="fuel-row">
              <label>BMB 95: </label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Bulgaria.bmb95)
            }">{{ convertedAmount[21] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
             
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Bulgaria.diesel)
            }">{{ convertedAmount[22] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Bulgaria.gas)
            }">{{ convertedAmount[23] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="flag-card flag albania" *ngIf="showAlba">
          <div class="albania__logo">
            <img src="https://imgur.com/ddXXb8M.png" width="80" height="115" alt="" />
          </div>
          <mat-card-title>Albanija</mat-card-title>
          <mat-card-content class="each-card" style="margin-left: 74px;">
            <div class="fuel-row">
              <label>BMB 95:</label>
                <span  [ngStyle]="{
              color: getColor('bmb95', fuelPrices.Albania.bmb95)
            }">{{ convertedAmount[24] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Diesel:</label>
                <span  [ngStyle]="{
              color: getColor('diesel', fuelPrices.Albania.diesel)
            }">{{ convertedAmount[25] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
            <div class="fuel-row">
              <label>Gas:</label>
                <span  [ngStyle]="{
              color: getColor('gas', fuelPrices.Albania.gas)
            }">{{ convertedAmount[26] | number: '1.2-2' }} {{ activeCurrency2 || 'RSD' }}</span>
              
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    
    
    
    
    
    
    </div>
  </section>
  
  <section>
    <div class="disclaimer-wrapper">
      <p style="margin: 0;">Cijene su informativnog karaktera i mogu da variraju od pumpe od pumpe.</p>
    </div>
  </section>

  <section>
    <app-back-to-top></app-back-to-top>
  </section>
  
  
  
  <app-footer></app-footer>
  
  
  
  
</main>