.flag-cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    position: relative;
    top: 37px;
    flex-direction: column;
  }
  
  .flag-card {
    width: 200px;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
  }
  
  .bosnia-flag {
    background: linear-gradient(to bottom, #002f6c 50%, yellow 50%);
    position: relative;
    color: white;
  }
  .bosnia-flag::before {
    content: '★ ★ ★ ★ ★ ★ ★ ★ ★';
    font-size: 10px;
    color: white;
    position: absolute;
    position: absolute;
    top: 26%;
    left: 26%;
    transform: rotate(0deg);
    white-space: nowrap;
  }
  .bosnia-flag:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: yellow;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  
  .croatia-flag {
    background: linear-gradient(to bottom, red 33%, white 33% 66%, blue 66%);
  }
  
  .serbia-flag {
    background: linear-gradient(to bottom, red 33%, blue 33% 66%, white 66%);
  }

  .highest-price {
    color: red;
    font-weight: bold;
  }
  
  .lowest-price {
    color: green;
    font-weight: bold;
  }

  .each-card{
    background-color: black;
    border-radius: 10px;
    width: 178px;
    z-index: 1;
    margin-left: 77px;
    margin-top: 8px;
  }

  .fuel-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 14px;
    width: 190px;
    // background-color: black;
    // border-radius: 9px;
    // padding-right: 12px;
  }




  // ---------------------------------------------------------------------------------------------------



  // * {
  //   box-sizing: border-box;
  //   margin: 0;
  // }
  
  // body {
  //   width: 100%;
  //   height: 100vh;
  //   background-color: rgb(221, 239, 255);
  //   display: grid;
  //   place-items: center;
  //   font-family: cursive;
  //   font-weight: bold;
  // }
  
  h3 {
    position: absolute;
    text-align: center;
    top: 20px;
  }
  
  /* Main Style Stars from here  */
  .flag {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .bosnia {
    background-color: #001e96;
  }
  
  .bosnia__triangle {
    position: absolute;
    top: -72%;
    left: 35%;
    border: 142px solid transparent;
    border-left-color: #ffcc01;
    transform: rotate(-45deg);
  }
  .bosnia__star__wrapper {
    filter: drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
      drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
      drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
      drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff);
  }
  .bosnia__star__wrapper > .star {
    width: 35px;
    height: 35px;
    margin: -20px 0px;
    background-color: white;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  .croatia {
    background: linear-gradient(#ff0000 33%, #fff 33%, #fff 67%, #171796 0);
  }
  
  .croatia__logo {
    position: absolute;
    // inset: 0;
    margin: auto;
    // height: 115px;
    left: 6px;
    top: 48px;
  }

  .serbia {
    background: linear-gradient(#c83339 33%, #033e76 33%, #033e76 66%, #fff 0);
  }
  
  .serbia > img {
    position: absolute;
    left: 70px;
    top: 17px;
  }

  .img-serbia{
    position: absolute;
    left: 8px;
    top: 17px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-margin {
    margin: 0 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .checkbox-group {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .slovenia {
    background: linear-gradient(#fff 33%, #0000ff 33%, #0000ff 66%, #ff0000 0);
  }
  .slovenia > img {
    position: absolute;
    left: 19%;
    top: 17%;
  }

  .img-slovenia{
    position: absolute;
    left: 2%;
    top: 17%;
  }

  .montenegro {
    border: 10px solid #e9b528;
    background-color: #e30613;
    display: grid;
    place-items: center;
  }

  .img-montenegro{
    position: absolute;
    left: 0%;
    top: 17%;
  }

  .north_macedonia {
    background: #d91a21;
  }
  
  .north_macedonia::before {
    content: "";
    position: absolute;
    background-color: #f8e92e;
    inset: 0;
    margin: auto;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 1in;
    border: 6px solid #d91a21;
    z-index: 1;
  }
  
  .north_macedonia > .left_shapes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    -webkit-box-reflect: right 0;
  }
  
  .north_macedonia > .left_shapes > .shape,
  .north_macedonia > .top__shape,
  .north_macedonia > .bottom__shape {
    background-color: #f8e92e;
    width: 100%;
    height: 40px;
    clip-path: polygon(0 0, 100% 45%, 100% 55%, 0% 100%);
  }
  
  .north_macedonia > .left_shapes > .shape:nth-child(1) {
    transform: scaleX(1.5) rotate(50deg);
  }
  .north_macedonia > .left_shapes > .shape:nth-child(3) {
    transform: scaleX(1.5) rotate(-50deg);
  }
  
  .north_macedonia > .top__shape,
  .north_macedonia > .bottom__shape {
    position: absolute;
    margin: 0 auto;
    width: 25%;
    height: 50px;
    rotate: 90deg;
    left: 29%;
    top: 11px;
    transform: translatey(-50%);
  }
  
  .north_macedonia > .bottom__shape {
    transform: scaleX(-1);
    top: 70%;
    left: 38%;
  }

  .container-north-macedonia{
    z-index: 1;
    position: absolute;
    top: 17px;
    display: flex;
    flex-direction: column;
  }

  .greece {
    background: repeating-linear-gradient(
      #055eb2,
      #055eb2 11.11%,
      #fff 11.11%,
      #fff 22.22%
    );
  }
  
  .greece__top_left {
    width: 138px;
    height: 111.33px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  
  .greece__top_left > * {
    background-color: #055eb2;
  }

  .bulgaria {
    background: linear-gradient(#fff 33%, #00956e 33%, #00956e 66%, #d52612 0);
  }

  .albania {
    background-color: #da2b26;
  }
  
  .albania__logo {
    position: absolute;
    //inset: 0;
    width: 140px;
    margin: auto;
    right: 183px;
    top: 59px;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    // margin-bottom: 20px;
    margin: 20px 10px 20px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .radio-currencies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding-top: 5px;
  }

  // @media (min-width: 358px) {
  //   .mat-toolbar-row, .mat-toolbar-single-row{
  //     white-space: normal !important;
  //   }
  // }

//   @media (min-width: 620px) and  (max-width: 9399px) {
  
// }
  

  @media (min-width: 358px) and  (max-width: 599px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 75px;
        white-space: normal !important;
    }
    .disclaimer-wrapper, .info-wrapper {
      font-size:14px;
    }
}

@media (max-width: 489px) {
  .radio-currencies{
    width: 222px;
  }
}



@media screen and (min-width: 599px) {
  .filter-container {
      display: none !important;
  }
}

.legend-container{
  padding: 0.5rem;

  .legend-color {
    height: 1rem;
    width: 1rem;  
    position: absolute;
    border-radius: 10px;  
  }
  .legend-text{
    position: relative;
    left: 1rem;
    padding-left: 0.5rem;  
    height: 1.25rem;    
    line-height: 1.25rem;    
    font-size: 0.9rem;    
  }
}

.legend-wrapper{
  display: flex;
  justify-content: center;
}

.info-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #433c3c;
}

.disclaimer-wrapper{
    margin-top: 67px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #433c3c;
}






  

  
  